$("#total_matches").removeClass('hidden');
$("#matches_count").html("<%= @routes.size %>");

<% if @routes.any? %>
  $("#matched_routes").html("<%= escape_javascript render(partial: 'matched_routes_row', locals: {routes: @routes}) %>");
<% else %>
  $("#matched_routes").html('<p class="text-center">No matches found</p>');
<% end %>