<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h3>New breakout missing request</h3></br>
    <p>User: <%= @user.name %> (<%= @user.email %>)</p>
    <p>Destination: <%= @breakout.destination %></p>
    <p>Breakout: <%= @breakout.breakout %></p>
</body>
</html>