<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      You have received a new reply on InterRoute. Please <%= link_to "click here", conversation_url(@message.conversation) %> to view the message.
    </p>
    <p>Thanks,
      <br>
      InterRoute Support
    </p>
  </body>
</html>