<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="media">
          <a id="match_profile_url" href="">
            <img id="match_photo_url" class="d-flex mr-3" src="" alt="..." height="64" width="64">
          </a>
          <div class="media-body">
            <h5 id="match_name" class="mt-0"></h5>
            <br>
            <small class="text-muted"><i id="match_purchase_sentence"></i></small><br>
            <div class="spacer"></div>
            <table class="table">
              <thead>
                <tr>
                  <th>Destination</th>
                  <th>Breakout</th>
                  <th>Price</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="match_destination"></td>
                  <td id="match_breakout"></td>
                  <td id="match_price"></td>
                  <td id="match_quality_type"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        = form_for :conversation, url: :conversations, html: {id: "new_message"} do |f|
          = f.hidden_field :recipient, value: 0
          = f.hidden_field :subject
          = f.text_area :body, class: 'form-control', placeholder: "Type your message here", rows: 4, required: true
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="send_message" class="btn btn-primary">Send</button>
      </div>

    </div>
  </div>
</div>