<% if @contact.errors.any? %>
  toastr.error('\
                <ul>\
                  <% @contact.errors.full_messages.each do |msg| %>\
                    <li><%= msg %></li>\
                  <% end %>\
                </ul>\
              ');
<% else %>
  $("#add_to_contacts_btn").replaceWith('<%= link_to "Send Message", new_conversation_path(recipient_id: @contact.user_id), class: "edit-profile-btn active" %>');
  toastr.success('Contact added successfully.');
<% end %>