# this file is just to get an idea of what evn vars are required to be added in application.yml
#  you should simply copy and paste the content of this file into application.yml and change values of each env var.

development:
  ZOHO_USERNAME: ---
  ZOHO_PASSWORD: ---
  DOMAIN_NAME: ---
  SECRET_KEY_BASE: ---
  AWS_BUCKET: ---
  AWS_ACCESS_KEY: ---
  AWS_SECRET_KEY: ---
  AWS_REGION: ---
  PAYPAL_SANDBOX: ---
  PAYPAL_USERNAME: ---
  PAYPAL_PASSWORD: ---
  PAYPAL_SIGNATURE: ---

test:
  ZOHO_USERNAME: ---
  ZOHO_PASSWORD: ---
  DOMAIN_NAME: ---
  SECRET_KEY_BASE: ---

staging:
  ZOHO_USERNAME: ---
  ZOHO_PASSWORD: ---
  DOMAIN_NAME: ---
  SECRET_KEY_BASE: ---
  RAILS_SERVE_STATIC_FILES: ---
  AWS_BUCKET: ---
  AWS_ACCESS_KEY: ---
  AWS_SECRET_KEY: ---
  AWS_REGION: ---
  RAILS_LOG_TO_STDOUT: ---
  PAYPAL_SANDBOX: ---
  PAYPAL_USERNAME: ---
  PAYPAL_PASSWORD: ---
  PAYPAL_SIGNATURE: ---

production:
  ZOHO_USERNAME: ---
  ZOHO_PASSWORD: ---
  DOMAIN_NAME: ---
  SECRET_KEY_BASE: ---
  RAILS_SERVE_STATIC_FILES: ---
  AWS_BUCKET: ---
  AWS_ACCESS_KEY: ---
  AWS_SECRET_KEY: ---
  AWS_REGION: ---
  RAILS_LOG_TO_STDOUT: ---
  PAYPAL_SANDBOX: ---
  PAYPAL_USERNAME: ---
  PAYPAL_PASSWORD: ---
  PAYPAL_SIGNATURE: ---