# this file is just to get an idea of what evn vars are required to be added in application.yml
#  you should simply copy and paste the content of this file into application.yml and change values of each env var.

development:
  ADMIN_EMAIL: ---
  ADMIN_PASSWORD: ---
  ADMIN_FIRST_NAME: ---
  ADMIN_LAST_NAME: ---
  MAIL_SERVER: ---
  NAMECHEAP_USERNAME: ---
  NAMECHEAP_PASSWORD: ---
  DOMAIN_NAME: ---
  SECRET_KEY_BASE: ---
  PAYPAL_SANDBOX: ---
  PAYPAL_USERNAME: ---
  PAYPAL_PASSWORD: ---
  PAYPAL_SIGNATURE: ---
  GOOGLE_ANALYTICS_TRACKING_CODE: ---

test:
  NAMECHEAP_USERNAME: ---
  NAMECHEAP_PASSWORD: ---
  DOMAIN_NAME: ---
  SECRET_KEY_BASE: ---

staging:
  ADMIN_EMAIL: ---
  ADMIN_PASSWORD: ---
  ADMIN_FIRST_NAME: ---
  ADMIN_LAST_NAME: ---
  MAIL_SERVER: ---
  NAMECHEAP_USERNAME: ---
  NAMECHEAP_PASSWORD: ---
  DOMAIN_NAME: ---
  SECRET_KEY_BASE: ---
  RAILS_SERVE_STATIC_FILES: ---
  RAILS_LOG_TO_STDOUT: ---
  PAYPAL_SANDBOX: ---
  PAYPAL_USERNAME: ---
  PAYPAL_PASSWORD: ---
  PAYPAL_SIGNATURE: ---
  GOOGLE_ANALYTICS_TRACKING_CODE: ---

production:
  ADMIN_EMAIL: ---
  ADMIN_PASSWORD: ---
  ADMIN_FIRST_NAME: ---
  ADMIN_LAST_NAME: ---
  MAIL_SERVER: ---
  NAMECHEAP_USERNAME: ---
  NAMECHEAP_PASSWORD: ---
  DOMAIN_NAME: ---
  SECRET_KEY_BASE: ---
  RAILS_SERVE_STATIC_FILES: ---
  RAILS_LOG_TO_STDOUT: ---
  PAYPAL_SANDBOX: ---
  PAYPAL_USERNAME: ---
  PAYPAL_PASSWORD: ---
  PAYPAL_SIGNATURE: ---
  GOOGLE_ANALYTICS_TRACKING_CODE: ---