<p>Hey <%= @resource.first_name %>,</p>

<p>Thank you for joining InterRoute - the easiest way to find interconnection partners for your routes and traffic.</p>

<p>Please verify your email by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>If you have any questions or need any assistance please feel free to email us at <%= mail_to "support@interroute.io" %></p>

<p>Thank you!</p>

<p>Regards, 
    <br>
    Team InterRoute
</p>