<p>Hi <%= @resource.first_name %>,</p>

<p>You recently requested to change your password for your InterRoute account. Please click the link below to reset it:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>For feedback or comments please contact us at <%= mail_to "support@interroute.io" %></p>

<p>Best,
    <br>
    Team InterRoute
</p>
